<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dnyaneshwar.fireapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".FireApp"
        android:allowBackup="true"
        android:icon="@drawable/dmm"
        android:label="ProjectGuid"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstPage"
            android:label="ProjectGuide"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SubmitInfo"
            android:label="Add Project"
            android:parentActivityName=".FirstPage"
            android:screenOrientation="portrait" >
       </activity>
        <activity
            android:name=".ShowInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowBranch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowBranchName"
            android:parentActivityName=".FirstPage"
            android:screenOrientation="portrait" />
        <activity android:name=".Authentication.RegistrationActivity" />
        <activity android:name=".Authentication.LoginActivity">

        </activity>
        <activity android:name=".Authentication.resetpasswd" />
        <activity
            android:name=".PersonalInformation.UserInfo"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PersonalInformation.sendmail"></activity>
    </application>

</manifest>